.main {
    width: 100vw;
    height: 95vh;
    display: grid;
    grid-template-areas:
        'title title'
        'desc desc'
        'hint hint'
        'query query'
        'input input'
        'attempt attempt'
        'generated generated'
        'table table'
        'table table'
        'verify verify';

    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.main > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    font-size: xx-large;
    font-weight: bold;
    grid-area: title;
}
.desc {
    grid-area: desc;
    display: flex;
    padding: 0 10rem;
    text-align: center;
    justify-content: center;
}

.hint {
    grid-area: hint;
}
.hint > div {
    padding: 0.125rem 0.5rem;

    color: #111;
    background-color: #111;
    border-radius: 5px;

    transition: all 0.125s ease-in;
    transition-delay: 0.1s;
}

.hint > div:hover {
    background-color: #1112;
}

.hint > div {
    user-select: none;
}

.query {
    grid-area: query;
}

.input {
    grid-area: input;
    width: 50%;
    justify-self: center;
    justify-content: space-evenly;
}
.attempt {
    grid-area: attempt;
}
.generated {
    grid-area: generated;
}

.table {
    grid-area: table;
    text-align: center;
}
.table > pre,
.table > pre > code {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.verify {
    grid-area: verify;
    width: 50%;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
}
